<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<!-- ORDER-CHECKOUT -->
		<div th:replace="~{/cart/list :: cart}"></div>
		<div class="container mt-4">
			<p class="name-order-checkout">Thanh toán</p>
			<div class="card card-order-checkout">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Người mua hàng</label>
								<div class="form-control" id="username">[[${#request.remoteUser}]]</div> 
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Ngày mua hàng</label>
								<div class="form-control">{{order.createDate | date:'dd-MM-yyyy'}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>Địa chỉ mua hàng</label>
							<textarea ng-model="order.address" class="form-control" rows="" cols=""></textarea>
						</div>
					</div>
					<hr>
					<button ng-click="order.purchase()" class="btn btn-info">Mua hàng</button>
				</div>
			</div>
		</div>
		<!-- ORDER-CHECKOUT-END -->
	</main>
</body>
</html>